a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

.entry {
  margin-top: 30%;
}

.y-bar {
  background-color: #a9ad7d;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  padding-bottom: 2px;
  font-size: 2rem;
  font-family: "Gemunu Libre", Cambria, serif;
}

.delete {
  background-color: #7c3d3d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.single-runner {
  font-family: Nokora, cambrian, serif;
  color: white;
  background-color: #3f6385;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.25rem;
  width: 92%;
  padding-left: 20px;
  box-shadow: 3px 3px 3px #a9ad7d;
}

.nav {
  background-color: #7c3d3d;
  margin-top: 30px;
  padding-left: 15px;
  margin-bottom: 25px;
  padding-top: 3px;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.finish {
  color: #a9ad7d;
}

.logo {
  color: white;
  font-family: "Gemunu Libre", Cambria, serif;
  font-size: 3rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rec-space {
  margin-bottom: 10px;
  margin-top: 10px;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

.records {
  font-size: 1.5rem;
  font-family: Nokora, cambrian, serif;
  color: white;
  margin: 18px 20px 5px;
}

.entry-form {
  font-family: Nokora, cambrian, serif;
  font-size: 1.5rem;
  color: white;
  background-color: #3f6385;
  display: inline-block;
  border-radius: 10px;
}

.add {
  font-size: 1.35rem;
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #7c3d3d;
}

.center {
  justify-content: center;
  align-items: center;
}

input,
select,
label {
  border-radius: 10px;
  border: none;
  display: block;
  text-indent: 5px;
}

.form-pad {
  padding: 15px;
}

input,
select {
  height: 2.5rem;
}

input[type="text"] {
  font-size: 1.35rem;
}

select {
  font-size: 1.35rem;
}

label {
  margin-bottom: 10px;
}

.runner {
  width: 250px;
  object-fit: contain;
}

.runner-div {
  display: flex;
  justify-content: center;
}

.addmsg {
  font-size: 1.35rem;
  font-family: Nokora, cambrian, serif;
  text-align: center;
  margin-bottom: 0;
}

.addmsg-div {
  margin-bottom: 0;
}

.backbtn {
  font-size: 1.25rem;
  font-family: Nokora, cambrian, serif;
  color: white;
  background-color: #7c3d3d;
  border: none;
  border-radius: 10px;
  padding: 8px 35px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.625);
}

.modal-content {
  height: 370px;
  margin-top: 60%;
  width: 330px;
  background-color: white;
  border-radius: 10px;
}

.r-button {
  font-size: 1.5rem;
  padding: 5px 10px;
  color: white;
  background-color: #d65a5a;
  border: none;
  border-radius: 10px;
}

.c-button {
  font-size: 1.5rem;
  padding: 5px 10px;
  color: white;
  background-color: #75df75;
  border: none;
  border-radius: 10px;
}

.dmodal-cont {
  text-align: middle;
  position: fixed;
  margin-top: 70%;
  height: 190px;
  width: 330px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.dmsg-div {
  font-size: 1.5rem;
  font-family: Nokora, cambrian, serif;
  text-align: center;
}

.dchoice-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.back-div {
  margin-top: 0;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.align-self {
  align-self: center;
}

.name-area,
.distance-area,
.time-area {
  width: 100%;
}

.container {
  margin-top: 28%;
}

.chart-cont {
  margin-top: 40%;
  display: flex;
  justify-content: center;
}

.chart-div {
  width: 90%;
  background-color: rgb(255, 255, 255);
  font-family: Nokora, cambrian, serif;
  border-radius: 10px;
  box-shadow: 7px 7px 4px #3f6385;
  padding-right: 30px;
  padding-left: 15px;
}

.b {
  margin: 15px;
}

.name-input,
.distance-input,
.time-input {
  width: 100%;
}

.top-r {
  font-size: 2.25rem;
  color: #a9ad7d;
  text-align: center;
  margin-top: 10px;
  font-family: "Gemunu Libre", Cambria, serif;
  margin-bottom: 15px;
}

.rec-option {
  margin-left: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.rec-but {
  font-family: Nokora, cambrian, serif;
  font-size: 1.35rem;
  color: white;
  background-color: #a9ad7d;
  border: none;
  box-shadow: 0 6px 6px 0 black;
  padding: 7px 20px 3px;
  transition: 0.5s ease;
}

.rec-but:hover {
  background-color: #7c3d3d;
}

.rec-red {
  background-color: #7c3d3d;
}
